<!-- navbar -->

<div class="row">
  <div class="col-auto">
    <mat-toolbar color="primary">
      <h1>
        <a class="text-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="/">
          APPTASKS
        </a>
      </h1>
    </mat-toolbar>
  </div>

  <div class="col-auto bg-dark">
    <mat-toolbar>
      <a class="text-dark link-offset-2 link-underline link-underline-opacity-0" routerLink="/board">
        Tablero
      </a>
    </mat-toolbar>
  </div>
</div>


<!-- componentes basados en la ruta -->
<div class="container mt-4 border rounded">
  <router-outlet></router-outlet>
</div>
